// Generic custom css (anything longer than a screen view should have its own component file)

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSansRegular.eot) format('embedded-opentype'),
         url(fonts/OpenSansRegular.woff) format('woff'),
         url(fonts/OpenSansRegular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Semi";
    src: url(fonts/OpenSans-Semibold.eot) format('embedded-opentype'),
         url(fonts/OpenSans-Semibold.woff) format('woff'),
         url(fonts/OpenSans-Semibold.ttf) format('truetype');
}

body{
	font-family: OpenSans, "Trebuchet MS";
	font-size: 14px;
	letter-spacing: .45px;
}

html{
	font-size: inherit;
}

.container {
	width: 100%;
	max-width: 1680px;
	margin: 0 auto;
}

@media (min-width: 768px){
	body{
		padding-top: 80px;
	}

	.lead, .lead p, .no-results, .no-results p, .no-results-small, .no-results-small p {
		font-size: inherit;
	}

	body .main {
		padding-bottom: 0px;
		margin-bottom: 0px;
		min-height:100px;
	}
}

@media (max-width: 768px){
	body .main {
		padding-top: 0px;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .card-secondary>.card-header, .table td h3,
.collapsible legend h3, .collapsible legend h4, .card-header, input[type=search]{
    font-family: "OpenSans-Semi" !important;
}

.btn-primary:hover {
    color: #466273;
    background-color: #fff;
    border-color: #466273;
}

a, a:hover, a:focus {
    color: #0070a8;
}

a.label.label-default:hover {
    background-color: #466273;
}

div#sbdatapeer{
	padding-left: 20px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.btn-primary.dropdown-toggle, .btn-primary[disabled] {
    color: #333;
    background-color: #fff;
    border-color: #466273;
}

.btn-group-vertical.btn-accordion .btn-primary {
    background: #e4e4e4;
}

.btn-group-vertical label{
	font-size: inherit;
}

.list-group-item-heading a:hover, .list-group-item-heading a:hover .metadata {
    color: #0070a8;
}

.list-group a.text-link, .text-link {
    color: #0070a8;
}

.list-group-item-link a, .list-group-item-link a:hover {
    font-size: 14px;
	color: #0070a8;
}

.dashboard-widget-container .logged-in .widget-heading p {
    color: rgb(87,87,87);
}

.dashboard-widget-container .logged-in .widget-detail {
    background-color: #466273;
}

.dashboard-widget-container .widget-heading {
    border-top: 3px solid #466273;
}

.dashboard-widget-container .circle-bg {
    background-color: #466273;
}
.dashboard-editable {
    padding-top: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #466273;
    border-color: #466273;
}

.pagination>li>a, .pagination>li>span {
    color: #466273;
}

.form-group.submitcancel .cancel, .form-group.submitcancel .cancel:hover {
    color: #466273;
}

.form-switch input:checked+.switch-label .switch-indicator {
    background-color: rgba(107, 150, 28, 0.8);
    border: 1px solid rgba(107, 150, 28, 0.8);
}

.list-group-item-heading {
    font-family: inherit;
    font-weight: 200;
}

.panel .list-group-item small, .panel table {
    font-size: 14px;
}

form .col-with-collapse {
	border: 1px dashed #adadad;
	margin-bottom: 50px;
	padding-top: 5px;
}


/*HELP*/

span.page-help-icon span.icon.icon-info-circle{
	display:none;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.page-help-icon .help a img {
    display: none;
}

.page-help-icon .help a{
  top: 6px;
}

.page-help-icon .help a {
  background-image: url("../images/help_hint.png");
  background-repeat: no-repeat;
  position: relative;
  height: 30px;
  width: 87px;
  display:block;
}


.page-help-icon .help a:hover {
  background-image: url("../images/help_hint.png");
  background-repeat: no-repeat;
  position: relative;
  height: 30px;
  width: 87px;
  display:block;
  opacity: 0.8;
}

.contextualHelp{
	width:500px;
}

.help_wrapper{
	height:auto;
	min-height:100px;
}

.help_imgIcon {
	float:left;
	padding:10px;
}
.help_text {
	padding-bottom: 7px;
    padding-top: 3px;
}

#homeinfo_container{
    margin: auto;
	text-align: center;
}

#hi_left{
	max-width: 321px;
	display: inline-block;
}

#hi_center{
	max-width: 321px;
	display: inline-block;
}

#hi_right{
	max-width: 321px;
	display: inline-block;
}

.modal-backdrop {
    z-index: 1030 !important;
}

/* #blocksinstruction  */
form .col-with-collapse:before{
  content: 'Drag and drop content blocks here';
  color: #777;
}
form .col-with-collapse{
  border: 2px dashed #adadad;
}

.column-content{
    /* border: 2px dashed #adadad; */
}
/* end #blocksinstruction  */

.collection-nav, .pageheader h1 {
  margin: 0 !important;
}

.pageheader .main {
    padding-top: 40px !important;
    padding-bottom: 25px !important;
}

.collection-nav h2 {
    font-size: 20px !important;
    border: none;
    padding: 0 !important;
}

@media (min-width: 768px) {
  #addblock_blocklegend_container .pieform-fieldset legend, body {
      padding-top: 0 !important;
  }
}
