// Generic custom css (anything longer than a screen view should have its own component file)
.page-wrap{
	margin: 0 auto;
    padding-bottom: 25px;
	min-height: 500px;

}

footer.site-footer {
	height: 400px;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
}

.f-column, .columns {
    width: 100%;
    float: left;
	text-align: left;
}

.f-footer a:link, .f-footer a:visited, .f-footer a:hover,.f-footer a:focus, .f-footer a:active{
    color: #a8a8a8;
}

.f-footer {
    font-size: 15px;
    padding: 60px 0 30px;
    background-color: #3a3b3f;
}

.footer__title {
    width: 100%;
}

.footer--top {
  min-height:300px;
}

.footer--bottom {
    border-top: 1px solid #616265;
    padding: 25px 0 20px;
    text-align: center;
	min-height: 150px;
}

.footer--bottom .column:first-child, .footer--bottom .columns:first-child {
    float: right;
    padding-right: 15px;
}

.footer__title{
	line-height:1;
}

.footer__title {
    border-bottom: 0;
    font-size: 20px;
	color: #fff !important;
}

li > a.footer__item .nav__item{
	line-height:25px;
}

#page-footer > div.footer-wrap > footer.f-footer.footer--bottom > div > div.large-8.f-column > nav > ul{
    float: left;
    margin: 0px;
}

.menu.simple li {
    line-height: 1;
    display: inline-block;
    margin-right: 1rem;
}

#page-footer{
	padding-bottom: 0px;
	border: none;
	/* padding-top: 65px; */
	margin-top:0px;
	/* margin-top: -80px; */
}

.row-footer {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

@media screen and (min-width: 40em){
	.medium-3 {
		width: 20%;
	}

	p.footer__copyright{
		color: #a8a8a8;
	}

	ul.vertical{
		margin: 0;
		list-style-type: none;
		padding-left: 0px;
	}
}

@media screen and (max-width: 639px){
	ul.menu.social-wrap {
		text-align: center;
		margin-left: 0px;
	}

	p.footer__copyright{
		text-align: center;
	}

	.ssu_logo {
		margin: auto;
	}

	.row-footer{
		padding-left: 15px;
	}

	footer ul{
		list-style: none;
		padding-left: 0px;
	}

	.footer--top {
		min-height: 900px;
		padding-top: 20px;
	}

	.footer--bottom {
		min-height: 190px;
		color: #fff;
	}
}

@media screen and (min-width: 640px){
	.large-4 {
		width: 50%;
		float: right;
	}

	.large-8 {
		width: 50%;
		float:left;
	}

	.medium-3 {
		width: 20%;
	}

	ul.menu.social-wrap {
		padding-top: 15px;
		float: right;
		padding-right: 15px;
		margin-left: auto;
	}

	.footer--top {
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer--bottom {
		padding-left: 20px;
		padding-right: 20px;
	}
}

div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

.twitter {
	background-image: url("../images/twitter.svg");
	background-size: 25px;
	outline:none;
	text-decoration:none;
}

.twitter:hover, .twitter:focus {
	background-image: url("../images/twitter-dark.svg");
	background-size: 25px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.facebook {
	background-image: url("../images/facebook.svg");
	background-size: 14px;
}

.facebook:hover, .facebook:focus {
	background-image: url("../images/facebook-dark.svg");
	background-size: 14px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.youtube {
	background-image: url("../images/youtube.svg");
	background-size: 25px;
}

.youtube:hover, .youtube:focus {
	background-image: url("../images/youtube-dark.svg");
	background-size: 25px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.linkedin {
	background-image: url("../images/linkedin.svg");
	background-size: 23px;
}

.linkedin:hover, .linkedin:focus {
	background-image: url("../images/linkedin-dark.svg");
	background-size: 23px;
	background-color: #fff;
	outline:none;
	-webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
	text-decoration:none;
}

.ssu_logo {
	background-image: url("../images/logo-ssu.png");
	background-repeat: no-repeat;
	height: 72px;
	width: 191px;
	padding-bottom: 10px;
}

.social {
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	height: 44px;
	width: 44px;
}

.social-wrap li {
	display: inline-block;
}
