#user_logouttext{
	display:none;
}

.loggedout.loggedouthome.js{
	background-image: url(../images/login.png);
    background-repeat: no-repeat;
	background-position-y: 80px;
	background-color: #3a3b3f;
}

@media (max-width: 1033px){
	
	body.loggedout .main-content{
		padding-top: 0px;
	}
	
	body.loggedout .main-content #messages{
		padding-top: 20px;
	}
	
	body.loggedout .main-content #messages .alert:nth-child(2),	
	body.loggedout .main-content #messages .alert:nth-child(3){	
		display: none;
	}
	
	.loggedout.loggedouthome.js {
		background-position-y: 60px;
	}
}

@media (min-width: 1034px){
	body.loggedout .main-content .row{
		float: right;	
		padding-top: 80px;
	}
	body.loggedout .sidebar {
		padding-top: 110px;
	}
}